<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tax Credit System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CTSolution.styles.css" asp-append-version="true" />
    <style>
        body {
            font-size: .875rem;
        }

        .sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            width: 250px;
            background-color: #343a40;
            color: #fff;
            padding: 15px;
        }

            .sidebar a {
                color: #fff;
                text-decoration: none;
            }

                .sidebar a:hover {
                    color: #adb5bd;
                    text-decoration: none;
                }

        .main-content {
            margin-left: 250px;
            padding: 20px;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: calc(100% - 250px);
            left: 250px;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <h4>Tax Credit System</h4>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="TaxPayerInfo" asp-action="Index">အခွန်ထမ်းအချက်အလက်</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="PurchaseImportMaster" asp-action="Index">
                    ပြည်ပမှ၀ယ်ယူတင်သွင်းခြင်း
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="PurchaseImportDetail" asp-action="Index">Purchase Import Detail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="PurchaseTransaction" asp-action="Index">Purchase Transaction</a>
            </li>
            
        </ul>
    </div>
    <div class="main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CTSolution - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
